@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import "reset";
//variables
$background: rgb(0, 0, 0);



.wave {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, black, white);
  height: 50px;
  position: relative;
  margin-bottom: 20px;
  
  &::before,
  &::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  background-repeat: repeat-x;
  }
  
  &::before {
    height: 10px;
    background-size: 20px 20px;
    background-image: radial-gradient(circle at 3px -5px, transparent 12px, white 13px);
  }

  &::after {
    height: 15px;
    background-size: 40px 20px;
    background-image: radial-gradient(circle at 13px 15px, white 12px, transparent 13px);
  }
  
  &--top {
    background: linear-gradient(to top, white, chocolate);
    
    &::before,
    &::after {
      // to take place in top instead of bottom
      bottom: auto;
      top: 0;
    }
    
    &::before {
      background-image: radial-gradient(circle at 10px 15px, transparent 12px, white 13px);
    }

  &::after {
    background-image: radial-gradient(circle at 10px 0, white 12px, transparent 13px);
    }
  }
}

.content {
  color: #000;
  font-size: 0.8em;
  padding: 1em;
}
